@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  font-family: "Poppins", sans-serif;
}

nav#navbar {
  width: 60%;
  border-right: 1px solid rgb(99, 99, 99);
}

nav#navbar > header {
  font-size: 1.2em;
  padding: 18px;
  font-weight: bold;
}

nav#navbar > ul > li {
  padding: 15px;
  border: 1px solid;
}

main#main-doc {
  height: 100vh;
  overflow-y: scroll;
  padding: 0 10px;
}

a.nav-link {
  text-decoration: none;
  font-size: 1.1em;
  color: black;
  display: block;
}

.main-section {
  padding: 20px 0;
}

.main-section > header {
  font-size: 2em;
  padding: 10px 0;
}

article p {
  margin: 5px 0;
}

article ul li {
  padding: 5px 0;
  list-style-position: inside;
  margin-left: 30px;
}

pre {
  padding: 20px;
  background-color: rgb(224, 222, 222);
  color: rgb(77, 77, 77);
  border-radius: 10px;
}

ul li ul li {
  list-style-position: inside;
}

@media (max-width: 767.98px) {
  body {
    flex-direction: column;
  }
  main#main-doc {
    overflow-y: unset;
  }
  nav#navbar {
    width: 100%;
  }
}
